body{
  font-family: 'Times New Roman', Times, serif;
  }
  .navb li a{
    text-decoration: none;
  }
  .service a{
    color: white;
  }
  .card{
    background: white;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 350px;
    opacity: 0.9;
    
  }
  .card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  .news{
    animation: ease-in-out 1s infinite slide;
  }
  @keyframes slide{
    0% {
      opacity: 1;
    }
    100%{
        opacity: 0;
    }
  }