body{
  font-family: 'Times New Roman', Times, serif;
  }
  .navb li a{
    text-decoration: none;
  }
  .service a{
    color: white;
  }
  .card{
    background: white;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 350px;
    opacity: 0.9;
    overflow: scroll;
    display: block;
  }
  .card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  .news{
    animation: ease-in-out 1s infinite slide;
  }
  @keyframes slide{
    0% {
      opacity: 1;
    }
    100%{
        opacity: 0;
    }
  }

.login{
  height: 300px;
   width: 300px;
  border: 2px solid inherit;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); ;
  margin-top: 100px;
  background-color: white;
}
.form-login input[type="text"]{
  margin-top: 20px;
  width: 190px;
  align-items: center;
  margin-left:50px;
  padding-left: 20px;
}
.form-login input[type="password"]{
  margin-top: 20px;
  width: 190px;
  align-items: center;
  margin-left:50px;
  padding-left: 20px;
}
.Fanews:hover{
  cursor: pointer;
}

